html {
  scroll-behavior: smooth;
}

body {
  font-family: Google Sans, Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: none;
  display: flex;
  justify-content: center;
  text-align: left;
}

.body {
  width: 75vw;
}

h1 {
  font-weight: 500;
  line-height: 25px;
  font-size: 50px;
}

h2 {
  font-weight: 500;
  font-size: 6vw;
  line-height: 0px;
}

a {
  font-size: 40px;
  color: #292929;
  transition-duration: 300ms;
  text-decoration: none;
}

.footer a {
  margin-top: 22px;
  font-size: 40px;
}

a:hover {
  color: #6C63FF;
  transform: rotate(15deg) scale(1.1);
}

.button {
  width: 200px;
  padding: 10px;
  border: none;
  background-color: #6C63FF;
  color: white;
  border-radius: 25px;
  outline: none;
  font-size: 25px;
  font-family: Google Sans, Helvetica, Arial, sans-serif;
  transition-duration: 300ms;
}

.button:hover {
  background-color: #6C63f9;
  transform: scale(1.05);
}

nav {
  width: 100%;
  height: 100px;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #6C63FF;
  color: white;
  margin: none;
  border-radius: 0 0 50px 50px;
  display: flex;
  box-shadow: 0 5px 15px -5px #00000070;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  height: 99vh;
}

.fa-discord:hover {
  color: #7289DA !important;
}

.fa-twitter:hover {
  color: #1DA1F2 !important;
}

.fa-github:hover {
  color: #24292E !important;
}

.fa-discord, .fa-twitter, .fa-github {
  margin-left: 10px;
}

.box {
  width: 100%;
  height: 200px;
}

.column {
  flex: 50%;
  height: 500px;
}

.column2 {
  flex: 50%;
}

.column3 {
  flex: 33.33%;
}

span {
  color: #6C63FF;
}

#logo {
  width: 100px;
  height: 100px;
  border-radius: 0 100% 100% 100%;
}

.flexbox {
  display: flex;
}

.tar {
  text-align: right;
}

img {
  width: 90%;
  height: 90%;
}

.line {
  background-color: #6C63FF;
  width: 0vw;
  height: 5px;
  border-radius: 5px;
}

i {
  font-size: 50px;
}

.widen {
  animation: widen 2s;
  width: 45vw;
}

#title {
  padding-left: 15px;
}

.footer {
  height: 100px;
  width: 100%;
  border-top: 5px solid #6C63FF;
  border-radius: 5px;
}

.footer h1 {
  font-size: 40px;
}

.footer p {
  position: relative;
  top: -15px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #afafaf;
  transition-duration: 300ms;
  border-radius: 4px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #443ea3;
} */

.effect {
  transition-duration: 300ms;
}

.effect:hover {
  transform: rotate(1deg) scale(1.05);
}

.card {
  /* ... */

  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;

  transition: .2s;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover~.card {
  transform: translateX(130px);
}


.card:not(:first-child) {
  margin-left: -130px;
}

@keyframes widen {
  0% {
    width: 0vw;
  }

  100% {
    width: 45vw;
  }
}

@media screen and (max-width: 850px) {
  .body {
    width: 100%;
  }

  .column {
    width: 100% !important;
  }

  .column2 {
    width: 100% !important;
  }

  .column3 {
    width: 100% !important;
  }

  h2 {
    font-size: 9vw;
  }
}