body {
  background-color: #0148BC;
  font-family: 'Raleway', sans-serif;
}

html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

header {
      width: 100%;
      height: 100vh;
      background-size: cover;

}

p {
  color: white;
  font-size: 30px;
}

h2 {
  color: white;
  font-size: 100px;
}

h1 {
  color: white;
  font-size: 80px;
}

* {
  box-sizing: border-box;
}

.codeImage {
  width: auto;
  height: auto;
  border-radius: 5px;
  margin: auto;
  max-width: 535px;
  box-shadow: 0 5px 10px -5px #00000070;
}

.gamingImage {
  width: auto;
  height: auto;
  border-radius: 5px;
  margin: auto;
  max-width: 535px;
  box-shadow: 0 5px 10px -5px #00000070;
}

.resumeImage {
  width: 100%;
}

.resume {
  width: 100%;
  height: auto;
  background-color: white;
  text-align: center;
  box-shadow: 0 5px 10px -5px #00000070;
}

.line {
  background-color: #2357AB;
  width: 10px;
  height: 1000px;
  text-align: center;
  position: absolute;
  left: 50%;
}

.box {
  float: left;
  width: 50%;
  padding: 50px;
  text-align: center;
}

.box1 {
  float: right;
  width: 50%;
  padding: 50px;
  text-align: center;
}

.text-box {
  background-color: #F0F3F4;
  color: #0148BC;
  padding: 20px;
  font-size: 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px -5px #00000070;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.content {
      margin: 40px;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      margin-top: -600px;
}

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;

      outline: none;
      transition-duration: 300ms;
      outline: none;
}

.logo:hover {
  transform: scale(1.1);
}

.logoImage {
  border-radius: 100%;
}

.name {
  line-height: 60px;
  position: fixed;
  float: left;
  top: -25px;
  left: 125px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;

  outline: none;
  transition-duration: 300ms;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
      position: fixed;
      z-index: 1;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: white;
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.white ul {
      background: white;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #0148BC;
      font-size: 16px;

      transition-duration: 300ms;
}

nav ul li a:hover {
      transform: scale(1.1);
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: white;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: white;
      }

      nav.white ul {
            background: white;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}
