body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.resume-header {
  background-image: linear-gradient(to right, #31a6ff, #31c7ff);
  color: white;
}

.resume-a {
  color: white !important;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

p {
  font-size: 25px;
}

i {
  font-size: 100px;
}

#header-logo {
  width: 45px;
  height: 45px;
  position: relative;
  top: 12.5px;
  border-radius: 100%;
}

#codingImage {
  max-width: 300px;
  height: auto;
}

.column2 {
  float: left;
  width: 50%;
}

.column3 {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

nav {

}

a {
  font-size: 30px;
}

.content {
  position: relative;
  top: 125px;
}

#install {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

#browser {
  width: 300px;
  height: 300px;
}

.features {
  width: 100%;
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 150px 150px 75px 75px;
  background-image: linear-gradient(to right, #31a6ff, #31c7ff);
}

.footer {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 150px 150px 0px 0px;
  background-color: #E5E8E8;
  font-family: 'Concert One', cursive;
}

.install {
  width: 200px;
  height: 75px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 15px;
  background-image: linear-gradient(to right, #31c7ff, #31a6ff);
  box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
  z-index: 1;
}

.logo {
  border-radius: 100%;
  width: 100px;
}

.triangle {
 width: 0;
 height: 0;
 display: inline-block;
 border-left: 250px solid transparent;
 border-right: 250px solid transparent;
 border-top: 500px solid #31A6ff;
}

.graphicDesign {
  position: absolute;
  top: 34%;
}

h5 {
  font-size:150px;
  color: #1565C0;
}

.footer-text {
  color: #BFC9CA;
  font-family: 'Concert One', cursive;
  letter-spacing: 3px;
  font-size: 25px;
}

.footer-main-text {
  color: #353438;
  font-size: 50px;
}

.about {

}

.mqList {

}

.installButton {
  color: white;
  text-decoration: none;
  font-size: 25px;
  position: relative;
  top: 22.5px;
}


.resume #header-title {
  font-size: 75px;
  color: #1976D2;
  position: relative;
  margin-top: 100px;
  font-family: 'Raleway', sans-serif;
  top: 125px;
}

.resume #header-logo {
  outline: none;
  height: 150px;
  width: 150px;
  position: relative;
  top: -175px;
}

.resume .info-box {
  text-align: center;
}

.resume .container {
  text-align: center;
  display: inline-block;
}

.resume .box {
  float: left;
  padding: 10px;
}

.resume .box p {
  width: auto;
}

.resume h2 {
  font-size: 50px;
  color: #0D47A1;
}

.resume li {
  text-decoration: none;
  list-style-type: none;
}

.resume ul {
  text-align: left;
  text-decoration: none;
}

.resume {
  width: 100%;
  height: auto;
  background-color: white;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.resume .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.resume .line {
  background-color: #2357AB;
  width: 10px;
  height: 37.5vw;
  text-align: center;
  position: absolute;
  left: 50%;
}

.resume .box {
  float: left;
  width: 50%;
  padding: 50px;
  text-align: center;
}

.resume .box1 {
  float: right;
  width: 50%;
  padding: 50px;
  text-align: center;
}

.resume-footer {
  margin-top: 200px;
}

.resume-content {
  margin-top: 150px;
}

@media screen and (max-width: 900px) {
  .column2 {
    float: none;
    display: inline-block;
  }

  .column3 {
    float: none;
    display: inline-block;
  }

  .mqListLink {
    font-size: 25px;
    padding: 0px;
    text-align: center;
  }

  h5 {
    font-size: 99px;
    position: relative;
    top: 250px;
  }

  .mqList {

  }

  .navDiv {

  }

  .features {
    border-radius: 150px 150px 0px 0px;
  }

  .triangle {
    border-left: 233px solid transparent;
    border-right: 233px solid transparent;
    border-top: 458px solid #31A6ff;
  }

  .install {
    width: 150px;
    height: 40px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #31c7ff, #31a6ff);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
    z-index: 1;
  }

  .installButton {
    color: white;
    text-decoration: none;
    font-size: 22px;
    position: relative;
    top: 7.5px;
  }
}

@media screen and (min-width: 1435px) {
  .graphicDesign {
    position: absolute;
    top: 36%;
  }
}
