/* Global CSS */

body {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  outline: none;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.change {
  line-height: 0px;
}

/* Colour Classes */

.poop {
  background-color: green !important;
}

.green {
  color: #16A085;
}

.white {
  color: white;
}

.purple {
  color: #551A8B;
}

.red {
  color: #C70039;
}

/* Colour Classes END */

.tal {
  text-align: left;
}

a {
  text-decoration: none;
  font-size: 30px;
  outline: none;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

button {
  outline: none;
}

p {
  font-size: 25px;
}

i {
  font-size: 100px;
}

.workExperienceDescription {
  width: 500px;
}

/* Install Button */

.install {
  width: 200px;
  height: 75px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 15px;
  background-image: linear-gradient(to right, #31c7ff, #31a6ff);
  box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
  z-index: 1;
  transition: .5s;
}

.installButton {
  color: white;
  text-decoration: none;
  font-size: 25px;
  position: relative;
  top: 22.5px;
}

/* Install Button END */

.inline {
  display: inline-block;
}

.container {
  text-align: center;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column2 {
  float: left;
  width: 50%;
}

.column3 {
  float: left;
  width: 33.33%;
}

/* From Top Left --> Bottom Right */
header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.features {
  width: 100%;
  color: white;
  padding-top: 12.5vw;
  padding-bottom: 12.5vw;
  border-radius: 150px 150px 75px 75px;
  background-image: linear-gradient(to right, #31a6ff, #31c7ff);
}

.line {
  width: 75vw;
  height: 4px;
  background-color: black;
  border-radius: 250px;
}

.ability-line {
  width: 50vw;
  height: 4px;
  background-color: white;
  border-radius: 250px;
}

#header-logo {
  width: 45px;
  height: 45px;
  position: relative;
  top: 12.5px;
  border-radius: 100%;
}

.vp {
  font-size: 3.25vw;
}

#codingImage {
  width: 22.5vw;
  max-width: 800px;
  min-width: 300px;
  height: auto;
}

.work-experience {
  background-image: linear-gradient(to right, #16A085, #138D75);
  width: 100%;
  color: white;
  padding-top:  5vw;
  padding-bottom: 7.5vw;
  border-radius: 150px 150px 75px 75px;
}

#sayHello {
  background-color: #16A085;
  border-radius: 50px;
  padding: 5px;
  color: white;
  border: none;
  width: 250px;
  height: 75px;
  transition: .4s;
  font-family: 'Rubik', sans-serif;
}

#sayHello:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #138D75;
  transform: scale(1.05);
}

.potential h1 {
  font-size: 75px;
}

.teach-me h1 {
  font-size: 75px;
}

.content {
  position: relative;
  top: 125px;
}

#install {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.skills {
  width: 100%;
  color: white;
  padding-top: 5vw;
  padding-bottom: 7.5vw;
  border-radius: 150px 150px 75px 75px;
  background-image: linear-gradient(to right, #C70039, #FF5733);
}

.tools {
  width: 100%;
  color: white;
  padding-top: 5vw;
  padding-bottom: 7.5vw;
  border-radius: 150px 150px 75px 75px;
  background-image: linear-gradient(to right, #512DA8, #8E24AA);
}

.purple {
  color: #8E24AA;
}

.anything h1 {
  font-size: 40px;
}
.skills p {
  position: relative;
  top: -30px;
  font-size: 22.5px;
}

.tools p {
  position: relative;
  top: -30px;
  font-size: 22.5px;
}

.hex-blue {
  color: #31A6FF;
}

.work-experience h1 {
  font-size: 65px;
}

.skills h1 {
  font-size: 65px;
}

.tools h1 {
  font-size: 65px;
}

.footer {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 150px 150px 0px 0px;
  background-color: #E5E8E8;
  font-family: 'Concert One', cursive;
}

.logo {
  border-radius: 100%;
  width: 100px;
}

.triangle {
 width: 0;
 height: 0;
 display: inline-block;
 border-left: 250px solid transparent;
 border-right: 250px solid transparent;
 border-top: 500px solid #31A6ff;
}

.graphicDesign {
  position: absolute;
  top: 34%;
}

h5 {
  font-size:150px;
  color: #1565C0;
}

.footer-text {
  color: #BFC9CA;
  font-family: 'Concert One', cursive;
  letter-spacing: 3px;
  font-size: 25px;
}

.footer-main-text {
  color: #353438;
  font-size: 50px;
}

.space {
  width: 20px;
}

.space1 {
  width: 5px;
}

.profile h1 {
  font-size: 65px;
}

.about h2 {
  font-size: 40px;
}

.twitterLink {
  color: #353438;
  font-size: 60px;
  transition: .3s;
}

.twitterLink:hover {
 color: #1DA1F3;
 transform: scale(1.1);
}

/* Media Queries */

@media screen and (max-width: 1500px) {
  .vp {
    font-size: 50px;
  }
}

@media screen and (max-width: 1020px) {
  .column2 {
    float: none;
    display: inline-block;
  }

  .column3 {
    float: none;
    display: inline-block;
  }

  .profile .row .column3 {
    display: block;
    width: auto;
  }

  h5 {
    font-size: 99px;
    position: relative;
    top: 250px;
  }

  .features {
    border-radius: 150px 150px 150px 150px;
  }

  .ExperienceDescription {
    width: 200px;
  }

  .fullStop {
    display: none;
  }

  .footer {
    padding-bottom: 22.5%;
  }
}

@media screen and (min-width: 1435px) {
  .graphicDesign {
    position: absolute;
    top: 36%;
  }
}
